{% extends "base.html" %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}

<!-- Edit type confirmation message -->
<div class="modal fade" id="edit-lesson-type" aria-labelledby="editModalLabel" aria-hidden="true">
    <form method="POST" class="d-flex justify-content-center">
        {% csrf_token %}
        <input type='hidden' name='edit_lesson_type' id='edit_lesson_type' value=''>
        <div class="modal-dialog position-absolute bottom-50">
            <div class="modal-content rounded-1">
                <div class="modal-header">
                    <h6 class="modal-title fw-bold" id="editModalLabel"><span class="badge bg-warning-subtle border border-warning-subtle text-warning-emphasis"><i class="fa-solid fa-triangle-exclamation me-2"></i>Confirm change</span></h6>
                    <span class="me-1 text-reset text-decoration-none" data-bs-dismiss="modal"><a class="btn-close" href="{% url 'manage_bookings:manage_bookings' %}"></a></span>
                </div>
                <div class="modal-body pt-0">
                    <p id="edit_type_value" class="mt-4 fs-6 mb-0 text-center">Are you sure you want to change the lesson type to <strong>{% if edit_date_lesson_type == 'Online' %} Offline{% else %} Online{% endif %}</strong>?</p>
                </div>
                <div class="modal-footer">
                    <span class="badge bg-secondary badge-hover" data-bs-dismiss="modal"><a class="text-reset text-decoration-none" href="{% url 'manage_bookings:manage_bookings' %}">Back</a></span>
                    <button type="submit" class="badge bg-light text-dark border border-dark badge-hover" id="edit-lesson-type-confirm"><a class="text-reset text-decoration-none">Save changes</a></button>
                </div>
            </div>
        </div>
    </form>
</div>

{% else %}

<!-- Sign up or login message -->
<p class="h3 mt-5 text-center">
    Please <a class="text-info text-decoration-none" href="{% url 'account_signup' %}"> Sign Up</a> 
    or <a class="text-info text-decoration-none" href="{% url 'account_login' %}">Login</a> to view your bookings
</p>

{% endif %}

{%endblock%}
