{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Page header -->
<div class="container ms-5 mt-4 position-absolute start-0">
    <div class="row row-cols-auto ms-3">
      <div class="col">
        <i class="fa-solid fa-user fs-1 text-secondary"></i>
      </div>
      <div class="col fs-2 ps-0 text-secondary">
        Users
      </div>
    </div>
</div>

<!-- Users table -->
<div class="container-fluid justify-content-between table-responsive" id="user-table" style="display: none">

  <form method="GET" class="text-center dropdown badge ps-0 mb-2 float-start">
      {{ users_filter.form }}
  </form>

  <table class="table table-hover">
    <thead class="table-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">
          <div class="form-check pt-1">
            <input class="form-check-input" type="checkbox" id="check-all-boxes">
          </div>
        </th>
        <th scope="col" class="text-start">Username</th>
        <th scope="col" class="text-start">First</th>
        <th scope="col" class="text-start">Last</th>
        <th scope="col" class="text-start">E-mail</th>
        <th scope="col" class="text-start">Last login</th>
        <th scope="col" class="text-start">Status</th>
      </tr>
    </thead>

    {% for user in users_filter.qs %}{% for field in formset %}
      {% if forloop.counter == forloop.parentloop.counter %}
        <tbody>
          <tr>
            <th scope="row" label="{{ user.username }}" class="get-value-by-js">{{ user.id }}</th>
            <th>
              <div class="form-check mb-0 {% if user == request.user %} ps-0 w-25 padding-tick {% endif %}">
                  {% if user == request.user %} <i class="fa-solid fa-user text-secondary"></i> {% else %} {{ field.as_p }} {% endif %}
                  <input type="hidden" label="{{ user.username }}" name="get-value-by-js">
                  <input type="hidden" label="{% if user.is_active == True %} Approved {% else %} Pending {% endif %}" name="get-status-by-js">
                  <input type="hidden" label="{{ user.id }}" name="get-id-by-js">
              </div>
            </th>
            <td class="admin-stats">{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.last_login }}</td>
            <td class="admin-stats">
              <span name="status" class="badge {% if user.is_active == True %} bg-success-subtle text-success-emphasis {% else %} bg-warning-subtle text-warning-emphasis {% endif %}">
                {% if user.is_active == True %} Approved {% else %} Pending {% endif %}
              </span>
            </td>         
          </tr>
        </tbody>
      {% endif %}
    {% endfor %}{% endfor %}

  </table>
  <a href="/activate_users" class="badge btn bg-light text-dark rounded-2 badge-hover float-end btn-secondary text-decoration-none" id="activate-modal" tabindex="-1" role="button">Activate</a>
  <a href="/inactivate_users" class="badge btn bg-light text-dark rounded-2 badge-hover float-end btn-secondary text-decoration-none me-2" id="inactivate-modal" tabindex="-1" role="button">Inactivate</a>
  <a href="/delete_users" class="badge btn bg-light text-dark rounded-2 badge-hover float-end btn-secondary text-decoration-none me-2" id="delete-modal" tabindex="-1" role="button">Delete</a>
</div>

<!-- Back button -->
<div class="d-flex justify-content-center mt-5 mb-5">
  <div class="btn text-center mt-5 back-button" id="back-button-admin-users" style="display: none"><i class="fa-solid fa-arrow-left fa-fw"></i><a class="text-reset text-decoration-none h6 back-button" href="{% url 'adminpanel:admin_panel' %}">Back to Admin panel</a></div>
</div>

<!-- Spinner -->
<div class="container text-center spinner-div">
  <div class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <br>
  <p class="fw-bold mt-1">Loading...</p>
</div>

{%endblock%}