body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ececec;
    font-family: Comfortaa, sans-serif;
}
  
main {
    flex: 1 0 auto;
}

/* Navigation */

.navbar-nav {
    margin-right: 50px;
  }

.navbar-nav > li {
  padding-top: 50px;
}

#navbar-logo {
  height: 80px;
}

.nav-item a {
  color: #FCF8FF;
}

.nav-item a:hover {
  color: #FCF8FF;
}

.nav-link {
  padding: 2px;
}

.navbar-nav .nav-link.active {
  border: 1px solid #FCF8FF;
  color: #FCF8FF;
  border-radius: 3px;
}

/* Home page picture */

#home-page-pic {
    padding: 3px;
    opacity: 0.8;
  }
  
#pic-frame {
    margin-top: 15px;
    border: 1px solid #1c1b1a;
}

/* Contact information */

.contact-list {
    list-style-type: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
}

#working-days > ul, #working-hours, #working-hours-heading, #home-text {
    list-style-type: none;
    font-weight: 600;
}
  
#working-days > ul > li, #working-hours > ul > li {
    padding: 4px;
}
  
#home-text {
    font-size: 20px;
    font-family: Merriweather Sans, sans-serif;
}

#stamps {
    margin-top: 80px;
    margin-bottom: 50px;
}
  
#location {
    margin-top: 70px;
}

/* Bookings page */

.btn {
    border-radius: 3px;
}

.day {
    font-weight: 900;
}

#info-icon {
    font-size: 80%;
}
  
.lesson-button {
    height: 70px;
    width: 120px;
    border-radius: 3px;
}
  
#success-manage-bookings {
    background-color: #FCF8FF;
    padding: 5px 50px 5px 50px;
}

#date,
#signup,
#signin,
#signout-confirm,
#reset {
    background-color: #FCF8FF;
    border-radius: 3px;
}

#contacts-font, 
#upc-book, 
#pop-up, 
#upc-manage-book, 
#past-book,
.admin-stats {
    font-family: Merriweather Sans, sans-serif;
    font-size: 90%;
}

#success-manage-bookings, .admin-buttons {
    background-color: #FCF8FF;
    padding: 5px 50px 5px 50px;
}
  
#success-manage-bookings:hover {
    background-color: #1c1b1a;
}

#change-date:hover,
#change-type:hover,
#manage:hover,
#cancel:hover,
.badge-hover:hover {
    background-color: #1c1b1a !important;
    color: white !important;
}

#manage-bookings-side {
    position: fixed;
    right: 30px;
}

#contacts {
    position: fixed;
    left: 30px;
    bottom: 100px;
}

#selection {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

/* Pop-up on hover window */

#pop-up {
    display: none;
    position: absolute;
    width: 270px;
    padding: 10px 10px 0 10px;
    background: #FCF8FF;
    border: 1px solid #1c1b1a;
    border-radius: 3px;
}

/* Booking confirm message */

.modal-content {
    width: 500px;
}

#lesson-confirmation, #lesson-type-confirmation {
    font-family: Merriweather Sans, sans-serif;
    width: 90px;
}
  
#date-confirmation, #time-confirmation, #edit-date-date, #edit-time {
    font-family: Merriweather Sans, sans-serif;
    width: 200px;
}

#edit-lesson-type-back-to-selection {
    margin-top: 20px;
    bottom: 0;
    height: 50px;
    width: 150px;
    background-color: #ececec;
}

.back-button {
    font-size: 15px;
    width: 280px;
    border: none;
}

#cards {
    width: 160px;
}

/* Admin panel */

#filter-form {
    width: 200px;
}

select {
    text-align: center;
    margin-top: 10px;
    height: 30px;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
}

label {
    margin-right: 10px;
}

.datepicker td.active, span.active {
    background-color: rgb(255,193,7)!important;
}

.color-gold {
    color: rgb(255,193,7);
}

.datepicker td,th{
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
}

.datepicker-inline {
    width: auto !important;
}

input[type="radio"]:checked+label {
    background-color: #1c1b1a !important;
}

.bi-exclamation-triangle {
    height: 50px;
}

#user-table, #archive-search-title {
    margin-top: 150px;
}

th, td {
    vertical-align: middle;
}

.form-check > p {
    margin-bottom: 0px;
}

.spinner-div {
    margin-top: 200px;
}

.admin-filters {
    width: 130px !important;
    height: 22px !important;
    border-radius: 4px;
}

.admin-status {
    width: 88px !important;
    height: 20px !important;
    border-radius: 5px;
}

.finalize-dropdown {
    width: 100px !important;
    height: 20px !important;
    border-radius: 5px;
}

.padding-tick {
    padding-top: 2px;
}

.archive-offset {
    margin-top: 80px;
}

/* Media quaries for home page */

/* For medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {

    #map-image {
        position: absolute;
        right: 30px;
        width: 40%;
    }

    #schedule {
        width: 70%;
    }

    .button-1200 {
        width: 50%;
    }

    #selection {
        position: absolute;
        top: 50px;;
        width: 80%;
        left: 0px;
    }

    #contacts {
        position: fixed;
        left: 30px;
        bottom: 100px;
    }

    #manage-bookings-side {
        width: 30%;
    }


}

/* For medium screens size from 1000px wide and down */
@media screen and (max-width: 1000px) {

    .navbar-toggler {
        margin-top: 20px;
        background-color: #FCF8FF;
    }

    #house-pic {
        float: left;
        width: 45%;
    }

    #schedule {
        width: 55%;
    }

    #map-image {
        position: relative;
        margin-top: 50px;
        float: right;
        left: 120px;
        width: 70%;
    }

    #stamps {
        margin-top: 100px;;
    }

    .img-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #manage-bookings-side {
        position: absolute;
        width: 100%;
    }

    #selection {
        position: relative;
        top: 200px;
    }

    #select-lesson {
        min-height: 100vh;
    }

    #contacts {
        position: relative;
        left: 0;
        bottom: 0;
    }

    #admin-panel-div {
        position: absolute;
        left: 0;
        width: 50%;
    }

    #admin-panel-parent {
        min-height: 40vh;
    }

    #manage-bookings-wrap {
        min-height: 70vh;
    }

}

/* For small screens size from 700px wide and down */
@media screen and (max-width: 700px) {

    #home-text {
        font-size: 100%;
    }

    #house-pic, #schedule {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    #map-image {
        left: 50px;
    }

    .text-about {
        font-size: 100%;
    }

    .img-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #date-confirmation, #time-confirmation {
        width: auto;
        text-align: center;
    }

    #edit-date-date, #edit-time {
        width: auto;
    }

    #admin-panel-div, .modal-content {
        width: 100%;
    }
    
    #admin-stats-div {
        margin-top: 300px;
        left: 100px;
        text-align: center;
    }

    #admin-panel-parent {
        min-height: 70vh;
    }

    .table-responsive {
        max-height: 700px;
    }

}

/* For small screens size from 500px wide and down */
@media screen and (max-width: 500px) {

    #home-text {
        font-size: 90%;
    }

    #schedule {
        justify-content: center;
        margin-left: 50px;
        width: 100%;
    }

    .contact-list {
        font-size: 100%;
    }

    #map-image {
        left: 20px;
        width: 90%;
    }

    .text-about {
        width: 100%;
    }

    .img-div {
        width: 100%;
    }

    #edit-lesson-type-back-to-selection {
        font-size: 90%;
        width: 80%;
    }

    #cards-wrap {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

}

/* For small screens size from 400px wide and down */
@media screen and (max-width: 400px) {

    #house-pic, #schedule {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #manage-bookings-wrap {
        min-height: 80vh;
    }

}

/* For small screens size from 350px wide and down */
@media screen and (max-width: 350px) {

    #logged-as {
        font-size: 90%;
    }

    #lesson-confirmation, #lesson-type-confirmation {
        width: auto;
    }

    #manage-bookings-side {
        left: 0.1px;
    }

}