{% extends "base.html" %}
{% load static %}

{% block content %}

   <!-- Permission denied message -->
   <div class="mt-5 row row-cols-1 d-flex justify-content-center">
        <div class="text-center">
            <p class="h3 mt-5 text-center">
                Sorry, you don't have permission to access this page. Return to <a class="text-decoration-none text-info" aria-current="page" href="{% url 'homepage:homepage' %}">Home page</a>
            </p>
        </div>
    </div>

{%endblock%}
